<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">


		<div class="container" id="listagem">

			<a class="btn btn-primary btn-md" th:href="@{/categorias/cadastrar}"
				role="button"> <span class="oi oi-plus" title="Cadastro"
				aria-hidden="true"></span> <span>Nova Categoria</span>
			</a> <br /> <br />

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Descrição</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${categorias}">
							<td th:text="${c.id}">1</td>
							<td th:text="${c.descricao}">Descrição</td>
							<td colspan="2"><a class="btn btn-info btn-sm"
								th:href="@{/categorias/editar/{id} (id=${c.id}) }" role="button">
									<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
							</a>
								<button
									th:id="${#strings.concat('btn_categorias/excluir/', c.id)  }"
									type="button" class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x" title="Exclusão desabilitada"
										aria-hidden="true"></span>
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>

	</section>
</body>
</html>
